.ingredient__item {
  align-items: center;
  box-sizing: border-box;
  color: #f2f2f3;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 272px;
  position: relative;
  text-decoration: none;
}

.ingredient__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ingredient__image {
  display: block;
  height: 120px;
  width: 240px;
}

.ingredient__price {
  column-gap: 8px;
  display: flex;
}

.ingredient__name {
  margin-bottom: 24px;
  text-align: center;
}
