.title {
  align-self: start;
  margin-bottom: 12px;
  padding-top: 12px;
}

.image {
  height: 240px;
  width: 480px;
}

.subtitle {
  margin-bottom: 34px;
}

.properties {
  display: flex;
  justify-content: space-between;
  max-width: 516px;
  width: 100%;
}
