.content {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.container {
  column-gap: 40px;
  display: flex;
  max-height: calc(100vh - 88px);
  width: 1240px;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
