.wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.container {
  width: 1240px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.title {
  margin: 0;
  padding: 40px 0 20px;
}

.content {
  display: flex;
  flex: 1 1 auto;
  gap: 60px;
}

.feed {
  width: 600px;
}

.statistics {
  width: 580px;
}
