.constructor__container {
  align-self: start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 40px;
  width: 600px;
}

.constructor__list,
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.constructor__list {
  flex: 1 1 auto;
  max-height: 656px;
}

.constructor__item_center {
  flex: 1 1 auto;
  max-height: 480px;
  overflow: auto;
  position: relative;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
}

.constructor__item_center::-webkit-scrollbar {
  width: 8px;
}

.constructor__item_center::-webkit-scrollbar-track {
  background: #2f2f37;
}

.constructor__item_center::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.list {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.text {
  text-align: center;
  margin: 0;
}
